<div>
  <div class="w-full" data-include="Goods.nav.html"></div>
  <div
      id="goodsGrid"
    class="[&>*:hover]:border-1 [&>a>p:first-of-type] grid grid-cols-2 place-items-center gap-3 p-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 [&>*]:rounded-xl [&>*]:transition [&>a:hover]:outline [&>a:hover]:outline-1 [&>a:hover]:outline-red-500 [&>a>img]:rounded-lg [&>a>p:first-of-type]:[-webkit-box-orient:vertical] [&>a>p:first-of-type]:[-webkit-line-clamp:2] [&>a>p:first-of-type]:[display:-webkit-box] [&>a>p:first-of-type]:[overflow:hidden] [&>a>p:first-of-type]:[text-overflow:ellipsis] [&>a>p:last-of-type::before]:content-['¥'] [&>a>p:last-of-type]:text-2xl [&>a>p:last-of-type]:font-medium [&>a>p:last-of-type]:text-[red] [&>a]:p-1"
  >
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/金沙公爵（Duke%20Kingtha）实木电脑桌长条桌子现代简约家用卧室双人书桌%20标准_1.2桌厚5.jpg"
      />
      <p>
        金沙公爵（Duke Kingtha）实木电脑桌长条桌子现代简约家用卧室双人书桌
        标准_1.2桌厚
      </p>
      <p>660.00</p>
    </a>
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/罐装头绳20根韩版高弹力无接缝橡皮筋女扎头不伤发不勒头发绳发圈%20春天色【罐装】20根.webp"
      />
      <p>
        罐装头绳20根韩版高弹力无接缝橡皮筋女扎头不伤发不勒头发绳发圈春天色【罐装】20根
      </p>
      <p>10.00</p>
    </a>
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/东芝（TOSHIBA）春日和石墨烯踢脚线取暖器家用轻音电暖器移动地暖对流电暖气节能省电暖气片%20【旗舰款】PW-2223EXCN(W).webp"
      />
      <p>
        东芝（TOSHIBA）春日和石墨烯踢脚线取暖器家用轻音电暖器移动地暖对流电暖气节能省电暖气片【旗舰款】PW-2223EXCN(W)
      </p>
      <p>899.00</p>
    </a>
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/千年藤制式白床单单件军训床单学生宿舍白床单制式床单内务白床单军人%20纯白色床单%20制式【115_210】白床单（标准）.webp"
      />
      <p>
        千年藤制式白床单单件军训床单学生宿舍白床单制式床单内务白床单军人纯白色床单制式【115_210】白床单（标准）
      </p>
      <p>18.00</p>
    </a>
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/奥马（Homa）325升风冷无霜一级能效双变频法式多门家用超薄电冰箱三开门四开门%20直拉抽屉%20国补以旧换新325WF_B.webp"
      />
      <p>
        奥马（Homa）325升风冷无霜一级能效双变频法式多门家用超薄电冰箱三开门四开门直拉抽屉国补以旧换新325WF_B
      </p>
      <p>1999.00</p>
    </a>
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/凡士林美白身体乳400ml%20烟酰胺保湿留香%20男士女士春夏润肤.webp"
      />
      <p>凡士林美白身体乳400ml烟酰胺保湿留香男士女士春夏润肤.webp"</p>
      <p>40.90</p>
    </a>
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/小象宝宝儿童分龄电动牙刷扫振自动式清洁软毛3-6岁6-9岁9-12岁专用含氟刷丝深度清洁防蛀防龋智能分区定时%20【3-6岁】乳牙期专用-天真蓝.webp"
      />
      <p>
        小象宝宝儿童分龄电动牙刷扫振自动式清洁软毛3-6岁6-9岁9-12岁专用含氟刷丝深度清洁防蛀防龋智能分区定时【3-6岁】乳牙期专用-天真蓝
      </p>
      <p>369.00</p>
    </a>
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/美的（Midea）【政府补贴】快捷微波炉%20家用小型%20360°转盘加热%20旋钮操控%20易洁内胆（M1-L213B）.webp"
      />
      <p>
        美的（Midea）【政府补贴】快捷微波炉家用小型360°转盘加热旋钮操控易洁内胆（M1-L213B）
      </p>
      <p>299.00</p>
    </a>
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/威露士消毒液衣物除菌液洗衣服地板杀菌清洁高浓缩非84消毒水松木香%20800mlx2+170ml+60mlx3.webp"
      />
      <p>
        威露士消毒液衣物除菌液洗衣服地板杀菌清洁高浓缩非84消毒水松木香800mlx2+170ml+60mlx3
      </p>
      <p>119.90</p>
    </a>
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/华为长续航蓝牙耳机%20FreeBuds%20SE%202无线耳机%2040小时长续航%20快速充电%20蓝牙5.3适用于苹果_安卓手机%20白.jpg"
      />
      <p>
        华为长续航蓝牙耳机FreeBudsSE2无线耳机40小时长续航快速充电蓝牙5.3适用于苹果_安卓手机白
      </p>
      <p>119.00</p> </a
    ><a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/蓝月亮%20深层洁净洗衣液%202.75kg_2+1kg_3袋+500g_3袋%20薰衣草香%20强效去污.jpg"
      />
      <p>蓝月亮深层洁净洗衣液2.75kg_2+1kg_3袋+500g_3袋薰衣草香强效去污.jpg"</p>
      <p>93.00</p>
    </a>
    <a class="aspect-square w-full">
      <img
        loading="lazy"
        src="images/goods/Apple_苹果%2020W%20USB-C手机充电器%20原装充电器手机快充头苹果充电器%20适用iPhone_iPad_Watch_AirPods.webp"
      />
      <p>
        Apple_苹果20WUSB-C手机充电器原装充电器手机快充头苹果充电器适用iPhone_iPad_Watch_AirPods
      </p>
      <p>100.00</p>
    </a>
  </div>
  <script src="component/Goods/Goods.js"></script>
</div>
