<nav
  class="flex items-center justify-center divide-x-2 divide-gray-100 [&>*:hover]:text-red-500 [&>*]:px-[3%] [&>*]:transition"
>
  <div>
    <a class="flex h-[52px] items-center justify-start text-red-500">
      <img
        class="row-span-2 row-start-1 aspect-square h-full object-contain"
        src="images/icon/为你精选.png"
        alt="爱心"
      />
      <div>
        <p class="text-lg font-medium">为你精选</p>
        <p class="-mt-1 text-gray-400">猜你喜欢</p>
      </div>
    </a>
  </div>

  <div>
    <a class="flex h-[52px] items-center justify-start">
      <img
        class="row-span-2 row-start-1 aspect-square h-full object-contain"
        src="images/icon/潮电好物.png"
        alt="笔记本电脑"
      />
      <div class="flex flex-col justify-center">
        <p class="text-lg font-medium">潮电好物</p>
        <p class="-mt-1 text-gray-400">3C数码</p>
      </div>
    </a>
  </div>

  <div>
    <a class="flex h-[52px] items-center justify-start">
      <img
        class="row-span-2 row-start-1 aspect-square h-full object-contain"
        src="images/icon/居家优品.png"
        alt="面包机"
      />
      <div class="flex flex-col justify-center">
        <p class="text-lg font-medium">居家优品</p>
        <p class="-mt-1 text-gray-400">家电家居</p>
      </div>
    </a>
  </div>

  <div>
    <a class="flex h-[52px] items-center justify-start">
      <img
        class="row-span-2 row-start-1 aspect-square h-full object-contain"
        src="images/icon/超市百货.png"
        alt="一包纸巾"
      />
      <div class="flex flex-col justify-center">
        <p class="text-lg font-medium">超市百货</p>
        <p class="-mt-1 text-gray-400">百货生鲜</p>
      </div>
    </a>
  </div>

  <div>
    <a class="flex h-[52px] items-center justify-start">
      <img
        class="row-span-2 row-start-1 aspect-square h-full object-contain"
        src="images/icon/时尚达人.png"
        alt="化妆品"
      />
      <div class="flex flex-col justify-center">
        <p class="text-lg font-medium">时尚达人</p>
        <p class="-mt-1 text-gray-400">美妆穿搭</p>
      </div>
    </a>
  </div>

  <div>
    <a class="flex h-[52px] items-center justify-start">
      <img
        class="row-span-2 row-start-1 aspect-square h-full object-contain"
        src="images/icon/进口好物.png"
        alt="牛奶粉-罐装"
      />
      <div class="flex flex-col justify-center">
        <p class="text-lg font-medium">进口好物</p>
        <p class="-mt-1 text-gray-400">京东国际</p>
      </div>
    </a>
  </div>
</nav>
