<div
    id="carousel"
    class="relative h-full w-[225px] overflow-hidden rounded-lg "
>
  <div class="images h-full w-full">
    <img loading="lazy"
        class="absolute left-0 top-0  w-full h-full opacity-0 transition-all duration-1000 "
        src="images/water dispenser.jpg"
        alt="water dispenser"
    />
    <img loading="lazy"
        class="absolute left-0 top-0  w-full h-full opacity-0 transition-all duration-1000 "
        src="images/300减50.webp"
        alt="300减50"
    />
    <img loading="lazy"
        class="absolute left-0 top-0  w-full h-full opacity-0 transition-all duration-1000 "
        src="images/earphone.jpg"
        alt="earphone"
    />
    <img loading="lazy"
        class="absolute left-0 top-0  w-full h-full opacity-0 transition-all duration-1000 "
        src="images/fridge.jpg"
        alt="fridge"
    />
    <img loading="lazy"
        class="absolute left-0 top-0  w-full h-full opacity-0 transition-all duration-1000 "
        src="images/liquor.jpg"
        alt="liquor"
    />
    <img loading="lazy"
        class="absolute left-0 top-0  w-full h-full opacity-0 transition-all duration-1000 "
        src="images/wine.jpg"
        alt="wine"
    />
  </div>
  <div class="buttons  absolute bottom-[6%] flex justify-center gap-2 w-full z-10 " ></div>
  <script src="component/Nav/carousel.js"></script>
</div>
