<ul class="class-list left-nav text-sm !h-full min-w-56 !w-[20%] !py-auto">
  <li>
    <span class="icon-wrap"><i class="material-icons">kitchen</i></span>

    <a class="goods-class">家用电器</a>

  </li>
  <li>
    <span class="icon-wrap"><i class="material-icons">phone_iphone</i></span>
    <a class="goods-class">手机</a>
    <a class="goods-class">运营商</a>
    <a class="goods-class">数码</a>
  </li>
  <li>
    <span class="icon-wrap"><i class="material-icons">computer</i></span>
    <a class="goods-class">电脑</a>
    <a class="goods-class">办公</a>
    <a class="goods-class">文具用品</a>
  </li>
  <li>
    <span class="icon-wrap"><i class="material-icons">chair</i></span>
    <a class="goods-class">家居</a>
    <a class="goods-class">家具</a>
    <a class="goods-class">家装</a>
    <a class="goods-class">厨具</a>
  </li>
  <li>
    <span class="icon-wrap"><i class="material-symbols-outlined">apparel</i></span>
    <a class="goods-class">男装</a>
    <a class="goods-class">女装</a>
    <a class="goods-class">童装</a>
    <a class="goods-class">内衣</a>
  </li>
  <li>
    <span class="icon-wrap"><i class="material-symbols-outlined">health_and_beauty</i></span>
    <a class="goods-class">美妆</a>
    <a class="goods-class">个护清洁</a>
    <a class="goods-class">宠物</a>
  </li>
  <li>
    <span class="icon-wrap"><i class="material-symbols-outlined">podiatry</i></span>
    <a class="goods-class">女鞋</a>
    <a class="goods-class">箱包</a>
    <a class="goods-class">钟表</a>
    <a class="goods-class">珠宝</a>
  </li>
  <li>
    <span class="icon-wrap"><i class="material-symbols-outlined">steps</i></span>
    <a class="goods-class">男鞋</a>
    <a class="goods-class">运动</a>
    <a class="goods-class">户外</a>
  </li>
  <li>
    <span class="icon-wrap"><i class="material-icons">house</i></span>
    <a class="goods-class">房产</a>
    <a class="goods-class">汽车</a>
    <a class="goods-class">汽车用品</a>
  </li>
  <li>
    <span class="icon-wrap"><i class="material-symbols-outlined">pediatrics</i></span>
    <a class="goods-class">母婴</a>
    <a class="goods-class">玩具</a>
    <a class="goods-class">乐器</a>
  </li>
  <li>
    <span class="icon-wrap"><i class="material-symbols-outlined">grocery</i></span>
    <a class="goods-class">食品</a>
    <a class="goods-class">酒类</a>
    <a class="goods-class">生鲜</a>
    <a class="goods-class">特产</a>
  </li>
</ul>