<div
  class="flex h-full w-[16rem] flex-col justify-center rounded-xl bg-gray-100 px-2 py-6 space-y-3"
>
  <div class="flex items-center justify-start gap-2">
    <img
      class="aspect-square w-3/12"
      src="images/icon/jd_account.png"
      alt="jd_account"
    />
    <div>
      <p class="font-bold">Hi~ 上午好</p>
      <a>注册</a>
    </div>
  </div>
    <p class="text-center font-bold">登录京东后更多优惠</p>
    <p class="text-center font-extrabold">购物上京东，自信又普通</p>
  <button class="rounded-lg bg-[red] py-2 font-bold text-gray-100">
    立即登录
  </button>
  <div class="flex items-center justify-center space-x-6 py-3 text-sm">
    <a class="flex flex-col-reverse items-center"
      >商品收藏<span class="material-symbols-outlined"> kid_star </span>
    </a>
    <a class="flex flex-col-reverse items-center">
      店铺关注
      <span class="material-symbols-outlined"> storefront </span>
    </a>
    <a class="flex flex-col-reverse items-center"
      >我的京东<span class="material-symbols-outlined">
        account_circle
      </span></a
    >
  </div>
  <div class="flex flex-row items-end justify-center space-x-2 flex-1">
    <a class="w-[48%]"
      ><img src="images/icon/PLUS会员.png" class="w-full object-contain"
    /></a>
    <a class="w-[48%]"
      ><img src="images/icon/企业会员.png" class="w-full object-contain"
    /></a>
    <!--    <div>-->
    <!--      <a>立即开通</a>-->
    <!--    </div>-->
    <!--    <div>-->
    <!--      <a>立即开通</a>-->
    <!--    </div>-->
  </div>
</div>
