<div class="flex h-full max-h-full flex-row justify-between">
  <div class="" data-include="Carousel.html"></div>
  <div
    class="grid !max-h-full max-w-[37%] grid-cols-2 place-items-center gap-3 font-sans text-lg font-bold
[&>a>img]:rounded-lg"
  >
    <a
      class="grid h-full w-full grid-flow-row place-items-center rounded-lg border px-1.5  [background:linear-gradient(to_bottom,#fee2e2,#fff_25%)]"
    >
      百亿补贴
      <img class="h-24" src="images/百亿补贴.jpg" alt="百亿补贴" />
      <p class="text-red-500 before:content-['¥']">23.9</p>
    </a>
    <a
      class="grid h-full w-full grid-flow-row place-items-center rounded-lg border px-1.5  [background:linear-gradient(to_bottom,#fee2e2,#fff_25%)]"
    >
      9.9包邮
      <img class="h-24" src="images/9.9包邮.webp" alt="9.9包邮" />
      <p class="text-red-500 before:content-['¥']">5.8</p>
    </a>
    <a
      class="grid h-full w-full grid-flow-row place-items-center rounded-lg border px-1.5  [background:linear-gradient(to_bottom,#fee2e2,#fff_25%)]"
    >
      京东秒杀
      <img class="h-24" src="images/京东秒杀.jpg" alt="京东秒杀" />
      <p class="text-red-500 before:content-['¥']">10.9</p>
    </a>
    <a
      class="grid h-full w-full grid-flow-row place-items-center rounded-lg border px-1.5  [background:linear-gradient(to_bottom,#fee2e2,#fff_25%)]"
    >
      京东直播
      <img class="h-24" src="images/京东直播.png" alt="京东直播" />
      <p
        class="w-full overflow-hidden overflow-ellipsis whitespace-nowrap text-sm text-red-500"
        title="邻家小妹为您精选好物"
      >
        邻家小妹为您精选好物
      </p>
    </a>
  </div>
  <div
    class="grid h-full max-w-[33%] grid-cols-3 place-items-center gap-[4px] rounded-xl bg-[#F7F8FC] px-4 py-3 text-center text-xs"
  >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/政府消费券.png" alt="" />政府消费券</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/企采返E卡.png" alt="" />企采返E卡</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/以旧换新.png" alt="" />以旧换新</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/买贵双倍赔.png" alt="" />买贵双倍赔</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/企业计划购.png" alt="" />企业计划购</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/加油卡.png" alt="" />加油卡</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/话费.png" alt="" />话费</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/游戏.png" alt="" />游戏</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/礼品卡.png" alt="" />礼品卡</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/金条借款.png" alt="" />金条借款</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/爱回收.png" alt="" />爱回收</a
    >
    <a class="flex h-14 flex-col items-center"
      ><img class="w-10" src="images/icon/问医生.png" alt="" />问医生</a
    >
  </div>
</div>
