<div
  class="flex flex-col rounded-l-xl bg-white text-base shadow-xl [&>*]:p-2 [&>*]:transition [&>*]:duration-300 "
>
  <a class="flex flex-col items-center hover:bg-[red] hover:text-white">
    <span class="material-symbols-outlined"> shopping_cart </span>
    购物车
  </a>
  <a class="flex flex-col items-center hover:bg-[red] hover:text-white">
    <span class="material-symbols-outlined"> person </span>
    我的
  </a>
  <a class="flex flex-col items-center hover:bg-[red] hover:text-white">
    <span class="material-symbols-outlined"> support_agent </span>客服
  </a>
  <a class="flex flex-col items-center hover:bg-[red] hover:text-white">
    <span class="material-symbols-outlined"> feedback </span>反馈
  </a>
</div>
