<style>
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
</style>

<div class="flex justify-center gap-3 text-xl font-medium text-gray-950">
  <div
    class="rounded-2xl border border-[#FF979C] bg-gradient-to-b from-[#FF4751] to-[#FF9596] p-[0.175rem]"
  >
    <a
      class="flex aspect-square w-36 flex-col items-center rounded-2xl bg-white p-2"
      >企业用酒<img
        class="aspect-square w-20 object-contain"
        src="images/企业用酒.jpg"
        alt="企业用酒"
      />
      <span
        class="w-full rounded-3xl bg-gradient-to-b from-[#FD2B28] to-[#FE5601] px-2 py-1 text-center text-gray-100"
        >名酒低至2折</span
      >
    </a>
  </div>
  <div
    class="rounded-2xl border border-[#FF979C] bg-gradient-to-b from-[#FF4751] to-[#FF9596] p-[0.175rem]"
  >
    <a
      class="flex aspect-square w-36 flex-col items-center rounded-2xl bg-white p-2"
      >超市万店<img
        class="aspect-square w-20 object-contain"
        src="images/超市万店.jpg"
        alt="超市万店"
      />
      <span
        class="w-full rounded-3xl bg-gradient-to-b from-[#FD2B28] to-[#FE5601] px-2 py-1 text-center text-gray-100"
        >低至1元</span
      >
    </a>
  </div>
  <div
    class="rounded-2xl border border-[#FF979C] bg-gradient-to-b from-[#FF4751] to-[#FF9596] p-[0.175rem] py-1 text-center"
  >
    <a
      class="grid h-full max-w-96 grid-cols-[1fr_1.5fr] flex-col place-items-center align-top rounded-2xl bg-white bg-gradient-to-b from-[#FF4751] to-[#FF9596] px-1"
      ><img
        class="row-span-3 !aspect-square h-full rounded-2xl bg-gradient-to-b from-[#FFD7D8] to-white object-contain px-4 py-2 "
        src="images/11.11又便宜又好.png"
        alt="11.11又便宜又好"
      />
      <span
        class="relative rounded-b-[100%] bg-gradient-to-b from-[#FFE8E8] to-[#FFD0CC] py-2 font-[Roboto] text-2xl -mt-4 w-[90%]"
        ><span style="animation: blink 1s infinite" class="text-[#FF0013] font-bold"
          >11.11又便宜又好</span
        ></span
      >
      <span class="text-4xl text-gray-100 font-black [align-self:start]">低价享不停</span>
      <span class="bg-gradient-to-b from-[#FEFDFF] to-[#FEBCBA] w-[60%] text-2xl text-[#FD312F] p-1 rounded-full font-[550]">抢超值爆款</span>
    </a>
  </div>
  <div
    class="rounded-2xl border border-[#FF979C] bg-gradient-to-b from-[#FF4751] to-[#FF9596] p-[0.175rem]"
  >
    <a
      class="flex aspect-square w-36 flex-col items-center rounded-2xl bg-white p-2"
      >自营工业品<img
        class="aspect-square w-20 object-contain"
        src="images/自营工业品.png"
        alt="自营工业品"
      />
      <span
        class="w-full rounded-3xl bg-gradient-to-b from-[#FD2B28] to-[#FE5601] px-2 py-1 text-center text-gray-100"
        >低至5折</span
      >
    </a>
  </div>
  <div
    class="rounded-2xl border border-[#FF979C] bg-gradient-to-b from-[#FF4751] to-[#FF9596] p-[0.175rem]"
  >
    <a
      class="flex aspect-square w-36 flex-col items-center rounded-2xl bg-white p-2"
      >键盘鼠标<img
        class="aspect-square w-20 object-contain"
        src="images/键盘鼠标.jpg"
        alt="键盘鼠标.jpg"
      /><span
        class="w-full rounded-3xl bg-gradient-to-b from-[#FD2B28] to-[#FE5601] px-2 py-1 text-center text-gray-100"
        >全网低价</span
      >
    </a>
  </div>
</div>
